[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "voteSim"]
	path = voteSim
	url = https://github.com/cran/voteSim
	shallow = true
	registered = true
